/* 게시판 */
.board_list_section {width: 100%;
	margin: 0 auto;
	text-align: center;}
.board_list_section {
width: 100%;
margin: 0 auto; /*가운데 정렬*/}

.board_list_section > ul > li:first-child {
margin-top:30px;
text-align: center;
font-size:10pt;
height:50px;
vertical-align:middle;
line-height:40px;}
#board_list_table {margin-top:10px;}
#board_list_table > li:first-child > ul > li {
background-color:#005b91;
font-weight:bold;
color:#fff;
text-align:center;}
#board_list_table > li > ul {
clear:both;
padding:0px auto;
position:relative;
min-width:40px;}
#board_list_table > li > ul > li {
float:left;
font-size:1.1em;
border-bottom:1px solid silver;
vertical-align:baseline;}	
#board_list_table > li > ul > li:first-child               {width:10%;} /*순번*/
#board_list_table > li > ul > li:first-child +li           {width:65%;} /*제목*/
#board_list_table > li > ul > li:first-child +li+li        {width:15%;} /*작성일*/
#board_list_table > li > ul > li:first-child +li+li+li     {width:10%;} /*조회수*/